@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Fredoka:wght@300..700&family=Iceberg&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Khmer:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Fredoka", sans-serif;
    background-color: #ebe3e3;
}
.header{
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 80px 0 0 0;
}
.container{
    max-width: 1200px;
    margin:  0 auto;
}

.menu{
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    font-size: 30px;
    color: #303030;
    font-weight: 800;
}
.logo:hover{
    color: rgb(162, 162, 72);
}

.menu .navbar-navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar-navbar ul li a{
    display: block;
    padding: 20px;
    text-transform: capitalize;
    color: #303030;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}
.menu .navbar-navbar ul li a:hover{
    color: #ffb40b;
}
/*************carrito compra********************************/

/*estilo al icono del carrito*/
.nav-icons {
    display: flex;
    font-size: 28px;
    cursor: pointer;
}

.nav-icons .fas{
    transition: 0.8s;
}
.nav-icons .fas:hover{
    transform: scale(1.1);
}

.cart-icon-container {
    position: relative;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #0f0f0f;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}

/*diseñar los botones de (añadir carrito)*/

/*sidebar del carrito----------------------------------*/
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -400px; /* Oculto por defecto */
    width: 300px;
    height: 600px;
    background-color: #fff;
    box-shadow: -5px 0 15px rgba(19, 9, 9, 0.3);
    z-index: 1900;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
}

.cart-sidebar.open {
    right: 0; /* Desplegado */
}

.cart-header {
    padding: 13px;
    background-color: #303030;
    display: flex;
    box-shadow: 0 0 8px #333;
    justify-content: space-between;
    align-items: center;
}
.cart-header h2{
    color: #bdb2b2;
    font-size: 30px;
}

.fa-notdog {
    cursor: pointer;
    font-size: 20px;
    margin-bottom: auto;
}

.cart-body {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}
.cart-body .empty-message{
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    color: #333;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
/*generar efecto e estilo al icono limpiar*/
.remove-item-btn {
    color: rgb(211, 34, 34);
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
}
.remove-item-btn:hover{
    transform: scale(1.3);
}

.cart-footer {
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px #303030;
}

.total-container {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 11px;
    letter-spacing: 1px;
}
.total-container span{
    color: #303030;
}

/*--boton pago---*/
.checkout-btn {
    width: 100%;
    background-color: #303030;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.checkout-btn:hover {
    background-color: #49570d;
    box-shadow: 0 0 10px #212306;
}




/********************/
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    display: none;
    cursor: pointer;
}

/*******************************/
.header-content{
    display: flex;
}
.header-txt{
    width: 50%;
}
.header-txt h1{
    font-size: 70px;
    line-height: 85px;
    color: #303030;
    margin-bottom: 20px;
}
.header-txt span{
    font-size: 90px;
    color: #ffb40b;
}
.header-txt p{
    font-size: 16px;
    color: #141111;
    margin-bottom: 30px;
}

.header-img{
    width: 50%;
    text-align: center;
}
.header-img img{
    width: 550px;
}

.buttons{
    display: flex;
}
.btn-1{
    display: inline-block;
    padding: 13px 20px;
    border: 2px solid #ffb40b;
    font-size: 16px;
    color: #ffb40b;
    border-radius: 14px;
    margin-right: 30px; 
    text-transform: capitalize;
}
.btn-1:hover{
    background-color: #ffb40b;
    color: #bdb2b2;
}
/*********************/
.menu-pl{
    padding:  0 0 100px 0;
}
h2{
    font-size: 50px;
    color: #292923;
    margin-bottom: 40px;
}
span{
    color: #ffb40b;
    cursor: pointer;
}

.general-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}

.general-txt{
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding-bottom: 35px;
}
.general-txt img{
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 250px;
}
.general-txt h3{
    font-size: 18px;
    color: #292933;
    padding: 25px 25px 10px 25px;
}
.general-txt p{
    font-size: 16px;
    color: #3a3a48;
    padding:  0 25px 20px 25px;
}

.prices{
    padding: 0 25px 10px 24px;
    display: flex;
    justify-content: space-between;
}
.prices{
    color: #ffb40b;
    font-size: 18px;
    font-weight: 600;
}

.btn-2{
    display: inline-block;
    background-color: #ffb40b;
    font-size: 14px;
    padding: 7px 15px;
    color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 6px #303030;
    transition: 0.3s;
}
.btn-2:hover{
    transform: scale(1.1);
}

/***************************************/
.about{
    padding: 100px  0;
    margin-bottom: 100px;
    background-color: #292933;
}
.about-content{
    display: flex;
}
.about-txt{
    width: 50%;
}
.about-txt h2{
    color: #fbfcff;
}
.about-txt p{
    font-size: 16px;
    color: #c4c4ce;
    margin-bottom: 30px;
}

.hamburger{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger span{
    font-size: 80px;
    font-weight: 800;
}

.about-img{
    width: 50%;
    text-align: right;
}

/*****************************/
.info{
    padding-bottom: 100px;
    display: flex;
}
.info-img{
    width: 50%;
}
.info-img img{
    border-radius: 25px;
    width: 600px;
}

.info-txt{
    width: 50%;
    padding-left: 55px;
}
.info-txt p{
    font-size: 16px;
    color: #3a3a48;
    margin-bottom: 35px;
}

/*------------footer*/
.footer{
    padding: 50px 0;
    background-color: #292933;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    color: #bdb2b2;
    font-size: 18px;
    margin-bottom: 15px;
}
.link a{
    color: #bdb2b2;
    display: block;
    margin-bottom: 10px;
}
.link a:hover{
    color: #ffb40b;
}

@media(max-width:991px){

    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar-navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #6e6060;
        display: none;
    }
    .menu .navbar-navbar ul li{
        width: 100%;
    }
    
    #menu:checked ~ .navbar-navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }
    .header-content{
        flex-direction: column;
        padding: 30px 30px 50px 30px;
        text-align: center;
    }

    .header-txt{
        width: 100%;
    }
    .header-txt span{
        font-size: 70px;
    }
    .header-img{
        width: 100%;
        margin-top: 12px;
    }
    .header-img img{
        width: 300px;
    }

    .buttons{
        justify-content: center;
    }
    .btn-1{
        margin: 0 10px;
    }

    .menu-pl{
        padding: 0 30px 30px 30px;
    }

    .general-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .about{
        padding: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    .about-content{
        flex-direction: column;
    }
    .about-txt{
        width: 100%;
    }
    .about-txt p{
        margin-bottom: 0;
    }

    .about-img{
        width: 100%;
        text-align: center;
    }
    .about-img img{
        width: 100%;
    }

    .info{
        padding: 30px;
        flex-direction: column;
    }
    .info-img{
        width: 100%;
    }
    .info-img img{
        width: 100%;
    }

    .info-txt{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .footer{
        padding: 30px;
        text-align: center;
    }
    .footer-content{
        flex-direction: column;
    }
}
